# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo

# Temporary & build files
build/
dist/
*.egg-info/
scratch/
